@page "/create"
@using MasterDetail.Shared
@inject HttpClient http
@inject NavigationManager navigationManager

<h3>Add a new Employee</h3>

<EmpolyeeForm employee="employee" employeeDepartments="employeeDepartments" OnValidSubmit="OnValidSubmit" SelectedFileChanged="HandleFileChanged"></EmpolyeeForm>

<div class="d-flex mt-4">
    <a class="btn btn-link" href="Index">Back to list</a>
</div>


@code {
    EmployeeVM employee = new EmployeeVM();
    List<Department>? employeeDepartments = new List<Department>();

    private IBrowserFile selectedFile;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }
    async Task LoadData()
    {
        selectedFile = null;
        employeeDepartments = await http.GetFromJsonAsync<List<Department>>("api/MasterDetails/GetDepartments");
        employee.DepartmentList.Add(new Department());
    }

    private async Task HandleFileChanged(IBrowserFile file)
    {
        selectedFile = file;
        Console.WriteLine(selectedFile.Name);
    }

    private async Task OnValidSubmit()
    {
        var formData = new MultipartFormDataContent();

        foreach (var prop in typeof(EmployeeVM).GetProperties())
        {
            var value = prop.GetValue(employee);
            if (value != null)
            {
                if (prop.Name == "DepartmentList")
                {
                    for (int i = 0; i < employee.DepartmentList.Count(); i++)
                    {
                        formData.Add(new StringContent(employee.DepartmentList[i].DepartmentId.ToString()), "DepartmentList[" + i + "].DepartmentId");
                    }
                    continue;
                }
                formData.Add(new StringContent(value.ToString()), prop.Name);
            }
        }
        if (selectedFile is not null)
        {
            var fileContent = new StreamContent(selectedFile.OpenReadStream());
            formData.Add(fileContent, "PictureFile", selectedFile.Name);
        }

        var response = await http.PostAsync("api/MasterDetails", formData);

        var body = await response.Content.ReadAsStringAsync();

        if (response.IsSuccessStatusCode)
        {
            // success
            Console.WriteLine($"the id of the user is: {body}");
            navigationManager.NavigateTo("Index");
        }
        else
        {
            // not success
            Console.WriteLine(body);
        }

    }
}
